In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from acquire import get_telco_data
from prepare import chop_data,prep_telco,keep_cust_prep_telco,charts_telco
from sklearn.impute import SimpleImputer
from scipy import stats
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.tree import DecisionTreeClassifier,export_text, plot_tree

this file exists, reading csv

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import kneighbors_graph
from sklearn.neighbors import KNeighborsClassifier

In [4]:
get_telco_data.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [5]:
show = prep_telco(get_telco_data)

In [6]:
show.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,paperless_billing,monthly_charges,total_charges,...,internet_service_type,payment_type,security_backup,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,1,0,1,1,9,1,0,1,65.6,593.30,...,1,Mailed check,1,0,1,0,0,0,0,1
1,0,0,0,0,9,1,1,0,59.9,542.40,...,1,Mailed check,0,1,0,0,0,0,0,1
2,0,0,0,0,4,1,0,1,73.9,280.85,...,1,Electronic check,0,1,0,0,0,0,1,0
3,0,1,1,0,13,1,0,1,98.0,1237.85,...,1,Electronic check,1,1,0,0,0,0,1,0
4,1,1,1,0,3,1,0,1,83.9,267.40,...,1,Mailed check,0,1,0,0,0,0,0,1

In [ ]:
#chart_tested_telco['security_backup'] = ((chart_tested_telco['online_security'] == 'Yes') | (chart_tested_telco['online_backup'] == 'Yes')).astype(int)

In [ ]:
#chart_tested_telco['streaming_service'] = ((chart_tested_telco['streaming_tv'] == 'Yes') | (chart_tested_telco['streaming_movies'] == 'Yes')).astype(int)

In [ ]:
chart_tested_telco.payment_type.unique() #Break into two columns, check and automatic

In [ ]:
#yo = pd.get_dummies(show[["payment_type"]],columns=["payment_type"],dtype="int")

In [ ]:
yo

In [ ]:
#pd.get_dummies(chart_tested_telco[["contract_type"]],columns=["contract_type"],dtype=int)

In [ ]:
# import pandas as pd

# chart_tested_telco = chart_tested_telco

# payment_type_dummies = pd.get_dummies(chart_tested_telco["payment_type"], columns=["payment_type"], dtype="int")


# yo = pd.concat([chart_tested_telco, payment_type_dummies], axis=1)

In [ ]:

# dummy_df = pd.get_dummies(show[["contract_type"]], columns=["contract_type"], dtype=int)
# # Concatenate the original DataFrame and the dummy variables DataFrame along the columns
# result_df = pd.concat([show, dummy_df], axis=1)

# # Display the result
# print(result_df)

In [ ]:
print(chart_tested_telco.head())

In [ ]:
chart_tested_telco.head()

In [ ]:
chart_tested_telco.dtypes

In [ ]:
charts = charts_telco(get_telco_data)

In [ ]:
#show.dtypes

In [ ]:
chart_tested_telco.internet_service_type.value_counts()# change into yes,no

In [ ]:
chart_tested_telco.internet_service_type = chart_tested_telco.internet_service_type.map({'No internet service': 0, 'DSL': 1, 'Fiber optic': 1})

In [ ]:
chart_tested_telco.multiple_lines = chart_tested_telco.multiple_lines.map({'No phone service': 0, 'No': 0, 'Yes': 1})

In [ ]:
chart_tested_telco.multiple_lines.unique() #change into yes,no

In [ ]:
chart_tested_telco.contract_type.value_counts()

In [ ]:
features = ['senior_citizen']
X_train[features].head()

In [ ]:
#make it
lr = LogisticRegression()

#fit it
lr.fit(X_train[features], y_train)

In [ ]:
lr.score(X_train[features], y_train)

In [ ]:
chart_tested_telco.contract_type.value_counts()

In [ ]:
charts.dtypes

In [ ]:
get_telco_data.set_index("customer_id")

In [ ]:
show.isna().sum()

In [ ]:
#show["gender"] = show.gender.map({"Male":0,"Female":1}).astype(int)

In [ ]:
#chart_tested_telco = chart_tested_telco.drop(columns=["streaming_tv","streaming_movies","online_backup","online_security"])

In [ ]:
#chart_tested_telco = chart_tested_telco.drop(columns=["device_protection","tech_support"])

In [ ]:
show.head()

In [ ]:
chart_trained_telco,chart_validated_telco,chart_tested_telco = chop_data(charts,"churn")

In [ ]:
trained_telco.shape

In [ ]:
# looking at the null values:
trained_telco.isna().sum()

In [ ]:
#trained_telco.fillna()

In [ ]:
trained_telco.head()

In [ ]:
for column in trained_telco.columns: # Tells nulls in data
     print(f"Null values in column '{column}': {trained_telco[column].isna().sum()}")

In [ ]:
for column in trained_telco.columns: #Gives an idea categorical or continuous
     print(f"These are the values in this column '{column}': {trained_telco[column].unique()}")

In [ ]:
validated_telco.head()

In [ ]:
#validated_telco.internet_service_type = validated_telco.internet_service_type.fillna("No internet service")

In [ ]:
#trained_telco[['is_queenstown', 'is_southampton']] = pd.get_dummies(trained_telco.internet_service_type).astype(int)

In [ ]:
#show["internet_service_type"] = show.internet_service_type.map({"DSL":0,"Fiber Optic":1}).astype(int)

In [ ]:
#show["dependents"] = show.dependents.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#show["multiple_lines"] = show.multiple_lines.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#show.fillna

In [ ]:
#show["paperless_billing"] = show.paperless_billing.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#pd.get_dummies(trained_telco.internet_service_type).astype(int) #.isnull() #ONEHOT

In [ ]:

plt.title("Do people with kids churn faster than without")
sns.barplot(y="monthly_charges", x="churn", data=chart_trained_telco)
# churn_rate = trained_telco.churn.mean()
# plt.axhline(churn_rate)
plt.show()

In [ ]:
with_kids__churn_rate = pd.crosstab(columns=trained_telco.dependents,index=trained_telco.churn)

In [ ]:
with_kids__churn_rate

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(with_kids__churn_rate)

In [ ]:
p # reject null

In [8]:
classy = DecisionTreeClassifier

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# # # Assuming you have your own DataFrame named chart_trained_telco
# # # Replace ... with the actual variable holding your DataFrame
# # chart_trained_telco = chart_trained_telco

# # # Check if the required columns are present in the DataFrame
# # required_columns = ['dependents', 'monthly_charges', 'churn']
# # if not all(column in chart_trained_telco.columns for column in required_columns):
# #     raise ValueError("Ensure that your DataFrame has the required columns: 'dependents', 'monthly_charges', 'churn'.")

# # # Check if values in the 'churn' column are valid
# # valid_churn_values = {'Yes', 'No'}
# # if not set(chart_trained_telco['churn']).issubset(valid_churn_values):
# #     raise ValueError("Values in the 'churn' column should be either 'Yes' or 'No'.")

# # Calculate a common range for 'monthly_charges'
# common_monthly_charges_range = chart_trained_telco['monthly_charges'].min(), chart_trained_telco['monthly_charges'].max()

# # Plotting separate bar plots for "Yes" and "No" churn values
# plt.figure(figsize=(11, 8))

# plt.subplot(1, 2, 1)
# sns.barplot(x="dependents", y="monthly_charges", data=chart_trained_telco[chart_trained_telco['churn'] == 'Yes'], ci=None)
# plt.title("Churn: Yes")
# plt.xlabel("Dependents")
# plt.ylabel("Monthly Charges")
# plt.ylim(common_monthly_charges_range)  # Set y-axis limit to common range

# plt.subplot(1, 2, 2)
# sns.barplot(x="dependents", y="monthly_charges", data=chart_trained_telco[chart_trained_telco['churn'] == 'No'], ci=None)
# plt.title("Churn: No")
# plt.xlabel("Dependents")
# plt.ylabel("Monthly Charges")
# plt.ylim(common_monthly_charges_range)  # Set y-axis limit to common range

# plt.suptitle("Do people with kids churn faster than without", y=1.02)
# #plt.tight_layout()
# plt.show()

In [ ]:
classy.fit(X_train,y_train)

In [ ]:


# # Check if the required columns are present in the DataFrame
# required_columns = ['dependents', 'monthly_charges', 'churn']
# if not all(column in chart_trained_telco.columns for column in required_columns):
#     raise ValueError("Ensure that your DataFrame has the required columns: 'dependents', 'monthly_charges', 'churn'.")

# # Check if values in the 'churn' column are valid
# valid_churn_values = {'Yes', 'No'}
# if not set(chart_trained_telco['churn']).issubset(valid_churn_values):
#     raise ValueError("Values in the 'churn' column should be either 'Yes' or 'No'.")

# # Plotting separate bar plots for "Yes" and "No" churn values
# plt.figure(figsize=(12, 6))

# plt.subplot(1, 2, 1)
# sns.barplot(x="dependents", y="monthly_charges", data=chart_trained_telco[chart_trained_telco['churn'] == 'Yes'])
# plt.title("Churn: Yes")
# plt.xlabel("Dependents")
# plt.ylabel("Monthly Charges")

# plt.subplot(1, 2, 2)
# sns.barplot(x="dependents", y="monthly_charges", data=chart_trained_telco[chart_trained_telco['churn'] == 'No'])
# plt.title("Churn: No")
# plt.xlabel("Dependents")
# plt.ylabel("Monthly Charges")

# plt.suptitle("Do people with kids churn faster than without", y=1.02)
# plt.tight_layout()
# plt.show()

Does being a senior citizen affect churn rate as monthyly charges increase?

In [ ]:
sns.barplot(data=validated_telco, y="monthly_charges", x='senior_citizen') #check data senior citizens have higher charges ?? also look at churn rate
plt.show()

In [ ]:
senior_churn_rate = pd.crosstab(columns=trained_telco.senior_citizen,index=trained_telco.churn)

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(senior_churn_rate)

In [ ]:
p

f p < alpha:
    print("Reject the null hypothesis that", null_hypothesis)
    print("Sufficient evidence to move forward understanding that", alternative_hypothesis)
else:

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming you have a DataFrame called trained_telco
sns.heatmap(pd.crosstab(trained_telco['senior_citizen'], pd.cut(trained_telco['monthly_charges'], bins=10), normalize='index'), annot=True, cmap='Greens')

plt.title('Churn Rates by Monthly Charges and Senior Citizen Status')
plt.xlabel('Monthly Charges')
plt.ylabel('Senior Citizen')
plt.show()

In [11]:
y_train = trained_telco.churn

In [ ]:
y_train.mode()#BASELINE

In [ ]:
(y_train == 0).mean()

In [ ]:
y_train.value_counts(normalize=True)[0]#BASELINE ACCURACY

In [ ]:
trained_telco.churn.unique()

In [9]:
X_train = trained_telco.drop(columns="churn")

In [10]:
X_train.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,paperless_billing,monthly_charges,total_charges,...,internet_service_type,payment_type,security_backup,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
2865,1,1,1,0,38,1,1,0,95.00,3591.25,...,1,Credit card (automatic),1,0,1,0,0,1,0,0
4107,1,1,0,0,2,1,0,1,70.35,139.05,...,1,Electronic check,0,1,0,0,0,0,1,0
3453,0,1,1,0,11,1,0,0,19.95,214.75,...,0,Mailed check,0,1,0,0,0,0,0,1
923,0,0,0,0,10,1,1,1,86.05,834.10,...,1,Bank transfer (automatic),0,1,0,0,1,0,0,0
2370,0,0,0,0,43,1,0,1,60.00,2548.55,...,1,Electronic check,1,0,0,1,0,0,1,0

In [2]:
classy = DecisionTreeClassifier()

NameError: name 'DecisionTreeClassifier' is not defined

In [ ]:
neeb = KNeighborsClassifier()

In [ ]:
neeb.fit(X_train,y_train)

In [12]:
classy.fit(X_train,y_train)

AttributeError: 'DataFrame' object has no attribute '_validate_params'

In [ ]:
#chart_tested_telco['protection_services'] = ((chart_tested_telco['device_protection'] == 'Yes') | (chart_tested_telco['tech_support'] == 'Yes')).astype(int)

In [ ]:
# sns.boxplot(data=validated_telco, x='monthly_charges', y='churn')
# plt.show()

In [ ]:
# color_map = {"Yes": "green", "No": "red", "No internet service": "yellow"}

# grouped_data = trained_telco.groupby(['churn', 'online_security']).size().unstack()
# grouped_data.plot(kind='bar', color=[color_map.get(col, col) for col in grouped_data.columns])

# # Adding labels and title for better readability
# plt.title('Churn w.r.t Online Security')
# plt.xlabel('Churn')
# plt.ylabel('Count')

# # Show the plot
plt.show()

In [ ]:
#show.multiple_lines.value_counts()

In [ ]:
#show["online_backup"] = show.online_backup.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#show.online_backup.value_counts()

In [ ]:
#show.online_security.value_counts()

In [ ]:
#show.internet_service_type.value_counts()

In [ ]:
#show.internet_service_type.count()

In [ ]:
#show["internet_service_type"] = show.internet_service_type.map({"Fiber optic":1,"DSL":0}).astype(int)

In [ ]:
#len(show.isnull().sum() > 0) #null look at

In [ ]:
#show.internet_service_type.isnull().sum()

In [ ]:
#show.internet_service_type.info()

In [ ]:
#show.internet_service_type.describe()

In [ ]:
#show["phone_service"] = show.phone_service.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#show["partner"] = show.partner.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#show.internet_service_type.value_counts()

In [ ]:
#show.internet_service_type.unique() #show NAN

In [ ]:
#show.phone_service.unique()

In [ ]:
#show.payment_type.value_counts()

In [ ]:
#show.internet_service_type.isnull().sum()

In [ ]:
#Fixer = SimpleImputer(missing_values = None, strategy='most_frequent')

In [ ]:
#Fixer.fit(show["internet_service_type"])

In [ ]:
#show.internet_service_type.isnull().value_counts()

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt


# sns.barplot(data=validated_telco, x="monthly_charges", y='churn', hue="senior_citizen")

# # Modify the legend labels
# plt.legend(title='Senior Citizen', labels=['No', 'Yes'])

# plt.title('Churn Rates Based on Monthly Charges and Senior Citizen Status')
# plt.xlabel('Monthly Charges')
# plt.ylabel('Churn')

# plt.show()