In [12]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from acquire import get_telco_data
from prepare import chop_data,prep_telco
from sklearn.impute import SimpleImputer

In [14]:
get_telco_data.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [21]:
get_telco_data.set_index("customer_id")

,payment_type_id,internet_service_type_id,contract_type_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
customer_id,,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,2,1,2,Female,0,Yes,Yes,9,Yes,No,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
0003-MKNFE,2,1,1,Male,0,No,No,9,Yes,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
0004-TLHLJ,1,2,1,Male,0,No,No,4,Yes,No,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
0011-IGKFF,1,2,1,Male,1,Yes,No,13,Yes,No,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
0013-EXCHZ,2,2,1,Female,1,Yes,No,3,Yes,No,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987-LUTYD,2,1,2,Female,0,No,No,13,Yes,No,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
9992-RRAMN,1,2,1,Male,0,Yes,No,22,Yes,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
9992-UJOEL,2,1,1,Male,0,No,No,2,Yes,No,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
9993-LHIEB,2,1,3,Male,0,Yes,Yes,67,Yes,No,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
9995-HOTOH,1,1,3,Male,0,Yes,Yes,63,No,No phone service,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [23]:
show = prep_telco(get_telco_data)

In [52]:
show.isna().sum()

gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
contract_type               0
internet_service_type    1526
payment_type                0
dtype: int64

In [25]:
show["gender"] = show.gender.map({"Male":0,"Female":1}).astype(int)

In [26]:
show.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,1,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.30,No,One year,DSL,Mailed check
1,0,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.40,No,Month-to-month,DSL,Mailed check
2,0,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,1,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.40,Yes,Month-to-month,Fiber optic,Mailed check

In [27]:
trained_telco,validated_telco,tested_telco = chop_data(show,"churn")

In [28]:
trained_telco.shape

(4225, 20)

In [29]:
# looking at the null values:
trained_telco.isna().sum()

gender                     0
senior_citizen             0
partner                    0
dependents                 0
tenure                     0
phone_service              0
multiple_lines             0
online_security            0
online_backup              0
device_protection          0
tech_support               0
streaming_tv               0
streaming_movies           0
paperless_billing          0
monthly_charges            0
total_charges              0
churn                      0
contract_type              0
internet_service_type    918
payment_type               0
dtype: int64

In [ ]:
trained_telco.fillna()

In [37]:
trained_telco.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,is_queenstown,is_southampton
2865,1,1,Yes,No,38,Yes,Yes,Yes,Yes,No,...,Yes,No,95.00,3591.25,No,One year,Fiber optic,Credit card (automatic),0,1
4107,1,1,No,No,2,Yes,No,No,No,No,...,No,Yes,70.35,139.05,Yes,Month-to-month,Fiber optic,Electronic check,0,1
3453,0,1,Yes,No,11,Yes,No,No internet service,No internet service,No internet service,...,No internet service,No,19.95,214.75,Yes,Month-to-month,NaN,Mailed check,0,0
923,0,0,No,No,10,Yes,Yes,No,No,No,...,No,Yes,86.05,834.10,Yes,Month-to-month,Fiber optic,Bank transfer (automatic),0,1
2370,0,0,No,No,43,Yes,No,No,Yes,No,...,Yes,Yes,60.00,2548.55,No,Two year,DSL,Electronic check,1,0

In [75]:
for column in trained_telco.columns: # Tells nulls in data
     print(f"Null values in column '{column}': {trained_telco[column].isna().sum()}")

Null values in column 'gender': 0
Null values in column 'senior_citizen': 0
Null values in column 'partner': 0
Null values in column 'dependents': 0
Null values in column 'tenure': 0
Null values in column 'phone_service': 0
Null values in column 'multiple_lines': 0
Null values in column 'online_security': 0
Null values in column 'online_backup': 0
Null values in column 'device_protection': 0
Null values in column 'tech_support': 0
Null values in column 'streaming_tv': 0
Null values in column 'streaming_movies': 0
Null values in column 'paperless_billing': 0
Null values in column 'monthly_charges': 0
Null values in column 'total_charges': 0
Null values in column 'churn': 0
Null values in column 'contract_type': 0
Null values in column 'internet_service_type': 918
Null values in column 'payment_type': 0
Null values in column 'is_queenstown': 0
Null values in column 'is_southampton': 0

In [85]:
for column in trained_telco.columns: #Gives an idea categorical or continuous
     print(f"These are the values in this column '{column}': {trained_telco[column].unique()}")

These are the values in this column 'gender': [1 0]
These are the values in this column 'senior_citizen': [1 0]
These are the values in this column 'partner': ['Yes' 'No']
These are the values in this column 'dependents': ['No' 'Yes']
These are the values in this column 'tenure': [38  2 11 10 43 44  1  4 48 55  3 18 33  7 67 13 47 51 16 22 37 54 31 66
 45 23 25 12 34 58 57 50 14 71 15 26 60 20  9 40 17  8 72 65 29 49 63 32
 28 24 35 56 36 46  6 42 53 69 52 30  5 70 39 21 68 64 62 19 27 59  0 61
 41]
These are the values in this column 'phone_service': ['Yes' 'No']
These are the values in this column 'multiple_lines': ['Yes' 'No' 'No phone service']
These are the values in this column 'online_security': ['Yes' 'No' 'No internet service']
These are the values in this column 'online_backup': ['Yes' 'No' 'No internet service']
These are the values in this column 'device_protection': ['No' 'No internet service' 'Yes']
These are the values in this column 'tech_support': ['No' 'No internet service' 'Yes']
These are the values in this column 'streaming_tv': ['No' 'No internet service' 'Yes']
These are the values in this column 'streaming_movies': ['Yes' 'No' 'No internet service']
These are the values in this column 'paperless_billing': ['No' 'Yes']
These are the values in this column 'monthly_charges': [ 95.    70.35  19.95 ... 102.5   59.6  116.95]
These are the values in this column 'total_charges': [3591.25  139.05  214.75 ... 8594.4   649.65  886.7 ]
These are the values in this column 'churn': ['No' 'Yes']
These are the values in this column 'contract_type': ['One year' 'Month-to-month' 'Two year']
These are the values in this column 'internet_service_type': ['Fiber optic' nan 'DSL']
These are the values in this column 'payment_type': ['Credit card (automatic)' 'Electronic check' 'Mailed check'
 'Bank transfer (automatic)']
These are the values in this column 'is_queenstown': [0 1]
These are the values in this column 'is_southampton': [1 0]

In [38]:
pd.get_dummies(trained_telco.internet_service_type).astype(int) #.isnull() #ONEHOT

      DSL  Fiber optic
2865    0            1
4107    0            1
3453    0            0
923     0            1
2370    1            0
...   ...          ...
1286    0            1
4999    1            0
6892    0            1
3718    0            1
5354    0            1

[4225 rows x 2 columns]

In [36]:
trained_telco[['is_queenstown', 'is_southampton']] = pd.get_dummies(trained_telco.internet_service_type).astype(int)

In [53]:
validated_telco.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
328,0,0,Yes,Yes,11,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,19.65,225.75,No,Two year,NaN,Mailed check
5983,0,0,Yes,Yes,26,Yes,Yes,No,No,No,No,Yes,No,Yes,83.75,2070.60,Yes,Month-to-month,Fiber optic,Electronic check
5551,1,0,Yes,Yes,6,No,No phone service,No,Yes,Yes,Yes,No,No,No,40.55,217.50,No,Two year,DSL,Mailed check
6614,0,0,No,No,3,Yes,No,No,Yes,No,No,No,No,No,74.45,221.10,No,Month-to-month,Fiber optic,Credit card (automatic)
6283,1,0,No,No,1,Yes,No,Yes,No,No,No,No,No,No,49.55,49.55,No,Month-to-month,DSL,Bank transfer (automatic)

In [88]:
validated_telco.internet_service_type = validated_telco.internet_service_type.fillna("No internet service")

In [89]:
validated_telco.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
328,0,0,Yes,Yes,11,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,19.65,225.75,No,Two year,No internet service,Mailed check
5983,0,0,Yes,Yes,26,Yes,Yes,No,No,No,No,Yes,No,Yes,83.75,2070.60,Yes,Month-to-month,Fiber optic,Electronic check
5551,1,0,Yes,Yes,6,No,No phone service,No,Yes,Yes,Yes,No,No,No,40.55,217.50,No,Two year,DSL,Mailed check
6614,0,0,No,No,3,Yes,No,No,Yes,No,No,No,No,No,74.45,221.10,No,Month-to-month,Fiber optic,Credit card (automatic)
6283,1,0,No,No,1,Yes,No,Yes,No,No,No,No,No,No,49.55,49.55,No,Month-to-month,DSL,Bank transfer (automatic)

In [ ]:
show["internet_service_type"] = show.internet_service_type.map({"DSL":0,"Fiber Optic":1}).astype(int)

In [ ]:
#show["dependents"] = show.dependents.map({"No":0,"Yes":1}).astype(int)

In [ ]:
show["multiple_lines"] = show.multiple_lines.map({"No":0,"Yes":1}).astype(int)

In [ ]:
show.fillna

In [81]:
#show["paperless_billing"] = show.paperless_billing.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#show["phone_service"] = show.phone_service.map({"No":0,"Yes":1}).astype(int)

In [ ]:
show.multiple_lines.value_counts()

In [ ]:
show["online_backup"] = show.online_backup.map({"No":0,"Yes":1}).astype(int)

In [ ]:
show.online_backup.value_counts()

In [ ]:
show.online_security.value_counts()

In [ ]:
show.internet_service_type.value_counts()

In [ ]:
show.internet_service_type.count()

In [ ]:
show["internet_service_type"] = show.internet_service_type.map({"Fiber optic":1,"DSL":0}).astype(int)

In [ ]:
len(show.isnull().sum() > 0) #null look at

In [ ]:
show.internet_service_type.isnull().sum()

In [ ]:
show.internet_service_type.info()

In [ ]:
show.internet_service_type.describe()

In [79]:
#show["phone_service"] = show.phone_service.map({"No":0,"Yes":1}).astype(int)

In [ ]:
#show["partner"] = show.partner.map({"No":0,"Yes":1}).astype(int)

In [43]:
show.internet_service_type.value_counts()

internet_service_type
Fiber optic    3096
DSL            2421
Name: count, dtype: int64

In [41]:
show.internet_service_type.unique() #show NAN

array(['DSL', 'Fiber optic', nan], dtype=object)

In [77]:
show.phone_service.unique()

array(['Yes', 'No'], dtype=object)

In [39]:
show.payment_type.value_counts()

payment_type
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [ ]:
show.internet_service_type.isnull().sum()

In [ ]:
Fixer = SimpleImputer(missing_values = None, strategy='most_frequent')

In [ ]:
Fixer.fit(show["internet_service_type"])

In [ ]:
show.internet_service_type.isnull().value_counts()